.personalizadaContainer{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    .form {
        display: flex;
        border: 1px solid black;
    
        .inputSelector {
            display: flex;
            flex-direction: column;
        }
    }

    .cardsContainer {
        display: flex;
       justify-content: space-around;
        width: 100vw;
        
        
    }
}
