* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
}

:root {
    --headerColor: #E10600;
    --white: #FFFFFF;
    --divisor: #CCCCCC;
    --black: #000000;
}