.app {

 display: flex;
 justify-content: space-between;

    .homeContainer {
        margin: 10px;
        display: flex;
        flex-direction: column;

        align-items: center;
        // width: calc(100vw - 1000px);
        flex-wrap: wrap;

        margin-top: 20px;
       

        h2 {
            margin: 10px 0;
        }

        p {
            font-weight: 400;
            line-height: 30px;
        }

        ul li {
            line-height: 25px;
        }
    }


    .aside {
        border: 1px solid black;
        
        
        margin-top: 20px;

        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;

        table {
            margin-left: 10px;
        }
    }
}

@media (max-width: 1500px){
    .app {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }   
}

@media (max-width: 500px) {
      .tablePilots {

        font-size: 14px;
        
        th, td {
            padding: 0;
        }
       
     }

     .tableConstructors {

        th, td {
            padding: 0;
        }
     }
}

@media (max-width: 350px) {
    .tablePilots, .tableConstructors {
        font-size: 12px;
    }
}