.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    background-color: red;

    .logo {
        font-size: 40px;
        font-weight: 700;
        color: var(--white);
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        margin-right: 20px;
        
        li{
            margin-left: 10px;
            font-size: 24px;
            font-weight: 400;
            
            a{
                color: var(--white);
                &:hover {
                    color: var(--black);
                    
                    transition: 0.3s;
                }
            }
        }
        
    }
}