.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;


    background-color: red;

    .logo {
        font-size: 40px;
        font-weight: 700;
        color: var(--white);
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        margin-right: 20px;
        flex-wrap: wrap;

        li {
            margin-left: 10px;
            font-size: 24px;
            font-weight: 400;

            a {
                color: var(--white);

                &:hover {
                    color: var(--black);

                    transition: 0.3s;
                }
            }
        }

    }
}

@media(max-width: 650px) {
    nav ul {
        // flex-direction: column;
    }
}

@media(max-width: 550px) {
    .containerHeader {
        justify-content: space-around;
        flex-direction: column;
    }
}


@media(max-width: 450px) {
    .containerHeader {
        .logo {
            font-size: 30px;
            margin: 0;
        }

        nav ul li {
            font-size: 16px;
        }
    }
}